.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  position: relative;
}

.otp-content {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 10px;
  left: 2px;
  font-size: 1.5rem;
  cursor: pointer;
}

.hh {
  font-family: 'Audiowide', cursive;
  color: #0146ff;
  font-size: 1.5rem;
  /* margin-top: 50px; */
  margin-left: 16px;
}

.description {
  font-size: 0.9rem;
  color: gray;
  margin: 10px 0 30px;
  padding: 0 10px;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.otp-inputs input {
  width: 45px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #0146ff;
  border-radius: 8px;
}

.resend-text {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 15px;
}

.resend-text span {
  color: #0146ff;
  font-weight: bold;
  cursor: pointer;
}

.logo-bg {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.logo-bg img {
  width: 40vw;
  max-width: 200px;
  min-width: 120px;
  opacity: 0.1;
  transition: width 0.3s;
}

.verify-btn {
  display: block;
  margin: 10px auto;
  background-color: #0146ff;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
