






.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  position: relative;
}

.signup-content {
  width: 100%;
  max-width: 420px;
  text-align: start;
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 10px;
  left: 2px;
  font-size: 1.5rem;
  cursor: pointer;
}

h2 {
  font-family: 'Audiowide', cursive;
  color: #0146ff;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-left: 10px;
}

.description {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 20px;
  padding: 0 15px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.country-code {
  border: 2px solid #0146ff;
  border-radius: 8px;
  padding: 10px 10px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
}

.country-code img {
  width: 25px;
}

.input-group input {
  border: 2px solid #0146ff;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  flex: 1;
  min-width: 180px;
}

.logo-bg {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.logo-bg img {
  width: 40vw;
  max-width: 200px;
  min-width: 120px;
  opacity: 0.1;
  transition: width 0.3s;
}

.send-code {
  display: block;
  margin: 10px auto;
  background-color: #0146ff;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-text {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.6;
}

.login-text span {
  color: #0146ff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
